
.photo{
    margin: 15px;
    border-radius: 100px;
}
.info-container{
    margin: 10px;
    padding: 10px;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.ring {
    animation: ring_2155 1.4s ease infinite;
    transform-origin: 50% 0%;
  }
  
  @keyframes ring_2155 {
    0% { transform: rotate(-15deg) }
    2.85714% { transform: rotate(15deg) }
    5.71429% { transform: rotate(-18deg) }
    8.57143% { transform: rotate(18deg) }
    11.42857% { transform: rotate(-22deg) }
    14.28571% { transform: rotate(22deg) }
    17.14286% { transform: rotate(-18deg) }
    20% { transform: rotate(18deg) }
    22.85714% { transform: rotate(-12deg) }
    25.71429% { transform: rotate(12deg) }
    28.57143% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
  }