.background-container{
    position: relative;
}
.background-container .project-name{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    top: 50%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 50%;
}
    