.fondo{
    background-image: linear-gradient(to bottom, #eaeaea, #efefef, #f4f4f4, #fafafa, #ffffff);
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.tipografiaPrincipal{
    font-family: 'Roboto', sans-serif;
}